<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <h1>My todo list</h1>
    <div id="app">
        <p>{{message}}</p>
        <h2>Todos:</h2>
        <ol>
            <li v-for="todo in todos">
                <label>
                    <input type="checkbox" v-on:change="toggle(todo)" v-bind:checked="todo.done">

                    <del v-if="todo.done">
                        {{ todo.text }}
                    </del>
                    <span v-else>
                        {{ todo.text }}
                    </span>
                </label>
            </li>
        </ol>
    </div>
    <script src="main.js"></script>
</body>

</html>